<a href="https://colab.research.google.com/github/Allen-Samonte/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentals of Python

Information

In [2]:
if 5 > 2:
  print("5 > 2")
  5 > 2

5 > 2

Python Comment

In [4]:
#This is a comment
print("Hello World!")

Hello World!

Python Variable

In [7]:
#Single value with single variable

x = 1

#Single variable with multiple values

array = [1,2,3]
print (array)

#Multipe variables with single value

a = b = c = "Allen"
print (a, b, c)
print (a)
print (b)
print (c)

[1, 2, 3]
Allen Allen Allen
Allen
Allen
Allen

Python Casting

In [8]:
n = int(4)
print(n)

4

Type Function

In [13]:
c = "Allen"
d = 5.6
print(type(c))
print(type(d))

<class 'str'>
<class 'float'>