<a href="https://colab.research.google.com/github/Allen-Samonte/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamentals of Python

Information

In [3]:
if 5 > 2:
  print("Five is greater than two!")
  5 > 2

Five is greater than two!

Python Comment

In [2]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [ ]:
#Single value with single variable

x = 1

#Single variable with multiple values

array = [1,2,3]
print (array)

#Multipe variables with single value

a = b = c = "Allen"
print (a, b, c)
print (a)
print (b)
print (c)

[1, 2, 3]
Allen Allen Allen
Allen
Allen
Allen

Python Casting

In [ ]:
n = int(4)
print(n)

4

Type Function

In [ ]:
c = "Allen"
d = 5.6
print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

“Double quotes” or ‘Single’ quotes

In [22]:
y = "John"
y = 'John'

Case sensitive

In [7]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [11]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [12]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [14]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [16]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operations

In [17]:
x = 5
y = 3
print (x + y)

x=5
y=3
sum=x+y
sum

8

8

Assignment Operators

In [18]:
a,b,c=0,-1,6
c%=3
c

0

Comparison Operators & Logical Operators

In [19]:
a,b,c=0,-1,6
a>b and c>b
True

True

Identity Operators

In [20]:
a,b,c=0,-1,5
a is c
False

False