<a href="https://colab.research.google.com/github/Allen-Samonte/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOP Statement

In [6]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [8]:
#It only displays Thursday

week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

In [11]:
#It displays from Sunday to Wednesday

week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [12]:
#It displays from Sunday to Thursday

week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [46]:
#To display only Tuesday and Wednesday using break statement

week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x=="Tuesday" or x=="Wednesday":
    print(x)

Tuesday
Wednesday

  Looping through a string

In [25]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [26]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [48]:
i = 1 
while i<=6:
  print(i)
  i += 1 #i=i+1 Assignment operator

1
2
3
4
5
6

In [45]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [51]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [58]:
word = "Hello:"
i = 0
while i<=10:
  print(word, i)
  i+=1

Hello: 0
Hello: 1
Hello: 2
Hello: 3
Hello: 4
Hello: 5
Hello: 6
Hello: 7
Hello: 8
Hello: 9
Hello: 10

In [65]:
i = 3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9